[submodule "libs/LowPower"]
	path = libs/LowPower
	url = https://github.com/rocketscream/Low-Power.git
[submodule "libs/RF24"]
	path = libs/RF24
	url = https://github.com/maniacbug/RF24.git
[submodule "libs/DHT-sensor-library"]
	path = libs/DHT-sensor-library
	url = https://github.com/adafruit/DHT-sensor-library.git
[submodule "libs/BMP280"]
	path = libs/BMP280
	url = https://github.com/adafruit/Adafruit_BMP280_Library.git
